@font-face {
  font-family: 'Poppins'; /* This is the name you'll use to reference the font. */
  src: url('Poppins/Poppins-Black.ttf') format('ttf'); /* Specify the path to the font file and its format. */
  src: url('Poppins/Poppins-Bold.ttf') format('ttf'); /* Specify the path to the font file and its format. */
  src: url('Poppins/Poppins-ExtraBold.ttf') format('ttf'); /* Specify the path to the font file and its format. */
  src: url('Poppins/Poppins-ExtraLight.ttf') format('ttf'); /* Specify the path to the font file and its format. */
  src: url('Poppins/Poppins-Light.ttf') format('ttf'); /* Specify the path to the font file and its format. */
  src: url('Poppins/Poppins-Medium.ttf') format('ttf'); /* Specify the path to the font file and its format. */
  src: url('Poppins/Poppins-Regular.ttf') format('ttf'); /* Specify the path to the font file and its format. */
  src: url('Poppins/Poppins-SemiBold.ttf') format('ttf'); /* Specify the path to the font file and its format. */
  src: url('Poppins/Poppins-Thin.ttf') format('ttf'); /* Specify the path to the font file and its format. */
}



* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: "poppins";
}

html,
body {
  padding: 0;
  margin: 0;
}

.container {
  width: 1279px;
  margin: auto;
}

.like{
  font-weight: bold;
  font-size: 15px;
  background-color: #00bfff;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 10px;
}
.retweet{
  font-weight: bold;
  font-size: 15px;
  background-color: #00bfff;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 10px;
}
.delete{
  font-weight: bold;
  font-size: 15px;
  background-color: #ff0000;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 10px;
}

.tweet{
  margin: 50px 0;
}

@media (max-width: 767px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
